.page{
  background-color: #2F303A;
}


.footer-container{
  display: flex;
  align-items: baseline;
}
.logo-text{
color: var(--primary-white-color);
font-family:  "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
 outline: none;
} 
.logo-second{
  color: var(--primary-white-color);
}
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  &:hover,
  &:focus {
  color: var(--accent-color);
   outline: none;
  }
}


.address-tel-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: var(--accent-color);
   outline: none;
  }
}

.address-mail-link {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
  color: var(--accent-color);
   outline: none;
  }
}



.footer{
   padding-top: 60px;
   padding-bottom: 60px;
}
.address{
  margin-top: 20px;
}

.address-item{
  &:not(:last-child){
  margin-bottom: 9px;
  }
}

.footer-social{
  margin-left: 72px;
}


.footer-social-title{
 display: flex;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
margin-bottom: 20px;
}

.footer-social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
background-color: var(--accent-color);
 outline: none;
  }
}

.footer-social-item{
  &:not(:last-child){
  margin-right: 10px;
  }
}

  .footer-social-list-icon{
  width: 20px;
  height: 20px;
   fill: var(--primary-white-color);
    outline: none;
}


  /* ===============Form-Modal========================== */

  .form-footer{
    margin-left: 93px;
  }

.footer-form-title{
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
margin-bottom: 20px;
}

.footer-form-sabmit{
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-form-input {
font-size: 16px;
line-height: 1.25;
align-items: center;
letter-spacing: 0.03em;
background-color: #2F303A;
color: rgba(255, 255, 255, 0.6);
width: 358px;
height: 50px;
padding: 16px 0px 16px 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}


.footer-telegram-icon{
  width: 24px;
  height: 24px;
  margin-left: 10px;
}


.footer-form-bth{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: transparent;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  margin-left: 12px;
  outline: none;
}

