.hero__bth {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  padding: 10px 32px;
  margin-top: 30px;
}


.hero__title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  color: var(--primary-white-color);
}


.hero{
  max-width: 1600px;
  text-align: center;
  background-image: linear-gradient( 
    rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url(../images/hero/bg.jpg);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}