.work__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work__item{
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.work__thumb{
  position: relative;
  overflow: hidden;
}
.work__label{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 text-align: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: var(--primary-white-color);
 background: rgba(47, 48, 58, 0.8);
}
