.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    overflow: auto;
    

    &__container{
        position: relative;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &__close-bth{
        position: absolute;
        top: 10px;
        right: 0;
        line-height: 0;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    &__close-icon{
  width: 40px;
  height: 40px;
  fill: #000000;
}
}