@media screen and (max-width: 767px) {
  .mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    overflow: auto;

     opacity: 0;
     visibility: hidden;
     pointer-events: none;
    
    &__container{
        position: relative;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &__close-bth{
        position: absolute;
        top: 10px;
        right: 15px;
        line-height: 0;
        padding: 0;
        border: none;
        background-color: transparent;
    }

     &__close-icon{
   width: 40px;
   height: 40px;
   fill: #000000;
  }

    &__link--current {
  position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
     outline: none;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  &__link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: var(--accent-color);
   outline: none;
  }
}

&__item{
  &:not(:last-child){
  margin-right: 50px;
  }
}

}
  }
  .mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

}

@media screen and (min-width: 768px) {
  .mobile-menu{
    &__close-bth{
      display: none;
    }
  }
}




