:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --title-text-color: black;
  --primary-white-color: white;
  --primary-text-color:black;
  --secondary-blue-color:#2196f3;
  --primary-secondary-color:#757575;
  --border-color:#ECECEC;
}